html,
body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: thistle;
}

app-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 85%;
  margin: auto;
  background-color: beige;
}

header,
footer {
  background-color: #9fdfca;
}

main {
  position: relative;
  overflow: auto;
  flex-shrink: 12;
  flex-grow: 12;
  width: 100%;
}
